/*VARIABLES*/
:root {
    --primary-color:rgba(0,0,0,0.5);
    --secondary-color:rgba(205,205,205,0.5);
}
@font-face {
    font-family: headerrr;
    src: url(/good\ times\ rg.ttf);
  }
  @font-face {
    font-family: dig;
    src: url(/digital-7.ttf);
  }



html,
body {
    background-color: black;
    color:black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: headerrr;
}
.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.header {

}
.form {
    padding: 100px;
    position: relative;
    margin: 0 auto;
    font-family: dig;
    border: 2px solid white;
    border-radius: 0 40px;
}
.title {
    position: absolute;
    color: white;
    width: auto!important;
    left: 10%;
    top: -20px;
    background: black;
    font-size: 40px;
    letter-spacing: 5px;
    padding-left: 5px;
}
.title::after {
    background: url(/icons8-calculator-64.png);
    content: "";
    position: absolute;
    background-size: contain;
    top: -6px;
    width: 50px;
    height: 50px;
}
.form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form > form > * {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}
input::placeholder {
    font-family: dig;
}
input[type="text"] {
    padding:10px 10px 10px 60px;
    background: url("/icons8-cube-64\ \(1\).png") no-repeat;
    background-size: contain;
    height: 30px;
    color: white;
    text-align: left;
    font-size: 30px;
    font-family: dig;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
}
input[type="text"]:nth-child(2) {
    background: url("/icons8-cube-64\ \(2\).png") no-repeat;
    background-size: contain;

}
input[type="text"]:focus {
    border: 2px solid green;
    outline: none;
}
input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
    height: 0px;
}
label[for="add"], label[for="multiply"] {
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 35px;
    background: url(/icons8-circled-thin-64.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    text-align: left;
    height: 50px;
    line-height: 30px;
    transition: background 0.5s ease-in-out;
    width: ;


}
h3 {
    color: wheat;
}
label[for="multiply"] {
    background: url(/multiply-non.png) no-repeat;
    background-size: contain;
}
input[type="radio"]:checked + label[for="add"]{
    color: white;
    background-image: url("/icons8-circled-thin-64\ \(1\).png");
   
}
input[type="radio"]:checked  + label[for="multiply"] {
    background-image: url(/multiply_checked.png);

}
#calculate {
    background: url(/icons8-code-64.png) black no-repeat;
    background-size: contain;
    background-position: left;
    width: 75%;
    color: white;
    text-align: left;
    font-family: dig;
    font-size: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 10px 10px 60px;
    position: absolute;
    top:3px;
    left:50%;
    transform: translateX(-50%);
    z-index: 2;
    

}

#clear {
    background: url(/icons8-benzene-ring-64.png) black no-repeat;
    background-size: contain;
    background-position: left;
    width: 75%;
    color: white;
    text-align: left;
    font-family: dig;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px 10px 10px 60px;
    position: absolute;
    top:3px;
    left:50%;
    transform: translateX(-50%);
    z-index: 2;
    border: 0;

}
.border {
    width: calc(75% + 4px);
    height: 59px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background: linear-gradient(133deg, rgba(26,255,67,1) 0%, rgba(200,34,255,1) 100%);
    


}
.btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    margin-bottom: 5px!important;

}